#app .navbar .home-link span:before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 2.4rem;
  background: url("../favicon.ico") no-repeat;
  background-size: 80% 80%;
  vertical-align: middle;
}